.card-custom {
    margin: 20px;
    padding: 20px;
    width: 250px;
    height: 250px;
    transition: .1s ease-in;
}

.card-custom:hover {
    background-color: rgba(51, 170, 51, .1) ;
    transition: .1s ease-in-out;
}